*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.box {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  padding: 10px;
}

.container {
  margin: 0;
  max-width: 460px;
  padding: 24px;
}

ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.task {
  color: #000;
  font-size: 18px;
  background-color: #e9e9e9;
  padding: 8px 16px;
}

.done {
  text-decoration: line-through;
  color: #999;
}
